USERRPROFILE = "C:\Users\myusername"
PORTFOLIO = "https://github.com/mygithubuser"

# Save reports to data folder (in addition to portfolio-plan/)
# Set to true to save a copy of reports in the data/ folder
SAVE_REPORTS_TO_DATA = false